In [34]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the Basketball Reference contracts page
url = "https://www.basketball-reference.com/contracts/players.html"

# Step 1: Get the page HTML
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
response.encoding = 'utf-8'
# Step 2: Parse HTML
soup = BeautifulSoup(response.text, "html.parser")

# Step 3: Find the contracts table
table = soup.find("table", {"id": "player-contracts"})

# Step 4: Read table into pandas
df = pd.read_html(str(table))[0]

# Step 5: Clean & display
print(df.head())

print(df)

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0       Salary  \
                  Rk             Player                 Tm      2024-25
0                  1      Stephen Curry                GSW  $55,761,216
1                  2        Joel Embiid                PHI  $51,415,938
2                  3       Nikola Jokić                DEN  $51,415,938
3                  4       Kevin Durant                PHO  $51,179,021
4                  5       Bradley Beal                PHO  $50,203,930

                                                               \
       2025-26      2026-27      2027-28      2028-29 2029-30
0  $59,606,817  $62,587,158          NaN          NaN     NaN
1  $55,224,526  $57,985,752  $62,624,612  $67,263,472     NaN
2  $55,224,526  $59,033,114  $62,841,702          NaN     NaN
3  $54,708,609          NaN          NaN          NaN     NaN
4  $53,666,270  $57,128,610          NaN          NaN     NaN

  Unnamed: 9_level_0
          Guaranteed
0       $177,955,191
1       $227,250,828
2       $165,673,578
3       $105,887,630
4       $103,870,200
    Unnamed: 0_level_0     Unnamed: 1_level_0 Unnamed: 2_level_0       Salary  \
                    Rk                 Player                 Tm      2024-25
0                    1          Stephen Curry                GSW  $55,761,216
1                    2            Joel Embiid                PHI  $51,415,938
2                    3           Nikola Jokić                DEN  $51,415,938
3                    4           Kevin Durant                PHO  $51,179,021
4                    5           Bradley Beal                PHO  $50,203,930
..                 ...                    ...                ...          ...
539                492  Javon Freeman-Liberty                TOR     $100,000
540                493         Erik Stevenson                WAS      $66,503
541                494        Branden Carlson                OKC     $496,519
542                495        Branden Carlson                OKC     $496,519
543                496          Javante McCoy                DET      $47,265

                                                                 \
         2025-26      2026-27      2027-28      2028-29 2029-30
0    $59,606,817  $62,587,158          NaN          NaN     NaN
1    $55,224,526  $57,985,752  $62,624,612  $67,263,472     NaN
2    $55,224,526  $59,033,114  $62,841,702          NaN     NaN
3    $54,708,609          NaN          NaN          NaN     NaN
4    $53,666,270  $57,128,610          NaN          NaN     NaN
..           ...          ...          ...          ...     ...
539          NaN          NaN          NaN          NaN     NaN
540          NaN          NaN          NaN          NaN     NaN
541          NaN          NaN          NaN          NaN     NaN
542          NaN          NaN          NaN          NaN     NaN
543          NaN          NaN          NaN          NaN     NaN

    Unnamed: 9_level_0
            Guaranteed
0         $177,955,191
1         $227,250,828
2         $165,673,578
3         $105,887,630
4         $103,870,200
..                 ...
539           $100,000
540            $66,503
541           $496,519
542           $496,519
543            $47,265

[544 rows x 10 columns]

C:\Users\girth\AppData\Local\Temp\ipykernel_25176\48013959.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [40]:
##View Scraped Data
from IPython.display import display
df.columns = [
    "Rk", "Player", "Tm", "2024-25", "2025-26", "2026-27", "2027-28", "2028-29", "2029-30", "Guaranteed"
]
df = df[df["Player"].notna() & (df["Player"] != "Player") & (df["Player"] != "Missing value")]

In [41]:
display(df)

,Rk,Player,Tm,2024-25,2025-26,2026-27,2027-28,2028-29,2029-30,Guaranteed
0,1,Stephen Curry,GSW,"$55,761,216","$59,606,817","$62,587,158",NaN,NaN,NaN,"$177,955,191"
1,2,Joel Embiid,PHI,"$51,415,938","$55,224,526","$57,985,752","$62,624,612","$67,263,472",NaN,"$227,250,828"
2,3,Nikola Jokić,DEN,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",NaN,NaN,"$165,673,578"
3,4,Kevin Durant,PHO,"$51,179,021","$54,708,609",NaN,NaN,NaN,NaN,"$105,887,630"
4,5,Bradley Beal,PHO,"$50,203,930","$53,666,270","$57,128,610",NaN,NaN,NaN,"$103,870,200"
...,...,...,...,...,...,...,...,...,...,...
539,492,Javon Freeman-Liberty,TOR,"$100,000",NaN,NaN,NaN,NaN,NaN,"$100,000"
540,493,Erik Stevenson,WAS,"$66,503",NaN,NaN,NaN,NaN,NaN,"$66,503"
541,494,Branden Carlson,OKC,"$496,519",NaN,NaN,NaN,NaN,NaN,"$496,519"
542,495,Branden Carlson,OKC,"$496,519",NaN,NaN,NaN,NaN,NaN,"$496,519"
543,496,Javante McCoy,DET,"$47,265",NaN,NaN,NaN,NaN,NaN,"$47,265"

In [ ]:
# Count the number of non-null salary values for each player in columns 4-9
df['Salary Count'] = df.iloc[:, 3:9].notnull().sum(axis=1)

,Rk,Player,Tm,2024-25,2025-26,2026-27,2027-28,2028-29,2029-30,Guaranteed,Salary Count
0,1,Stephen Curry,GSW,"$55,761,216","$59,606,817","$62,587,158",NaN,NaN,NaN,"$177,955,191",3
1,2,Joel Embiid,PHI,"$51,415,938","$55,224,526","$57,985,752","$62,624,612","$67,263,472",NaN,"$227,250,828",5
2,3,Nikola Jokić,DEN,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",NaN,NaN,"$165,673,578",4
3,4,Kevin Durant,PHO,"$51,179,021","$54,708,609",NaN,NaN,NaN,NaN,"$105,887,630",2
4,5,Bradley Beal,PHO,"$50,203,930","$53,666,270","$57,128,610",NaN,NaN,NaN,"$103,870,200",3
...,...,...,...,...,...,...,...,...,...,...,...
539,492,Javon Freeman-Liberty,TOR,"$100,000",NaN,NaN,NaN,NaN,NaN,"$100,000",1
540,493,Erik Stevenson,WAS,"$66,503",NaN,NaN,NaN,NaN,NaN,"$66,503",1
541,494,Branden Carlson,OKC,"$496,519",NaN,NaN,NaN,NaN,NaN,"$496,519",1
542,495,Branden Carlson,OKC,"$496,519",NaN,NaN,NaN,NaN,NaN,"$496,519",1
543,496,Javante McCoy,DET,"$47,265",NaN,NaN,NaN,NaN,NaN,"$47,265",1

In [48]:
# Ensure the "Guaranteed" column is numeric
df["Guaranteed"] = pd.to_numeric(df["Guaranteed"], errors="coerce")

# Calculate the division and append as a new column
df["Average Salary"] = df["Guaranteed"] / df["Salary Count"]

display(df)

,Rk,Player,Tm,2024-25,2025-26,2026-27,2027-28,2028-29,2029-30,Guaranteed,Salary Count,Average Salary
0,1,Stephen Curry,GSW,"$55,761,216","$59,606,817","$62,587,158",NaN,NaN,NaN,NaN,3,NaN
1,2,Joel Embiid,PHI,"$51,415,938","$55,224,526","$57,985,752","$62,624,612","$67,263,472",NaN,NaN,5,NaN
2,3,Nikola Jokić,DEN,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",NaN,NaN,NaN,4,NaN
3,4,Kevin Durant,PHO,"$51,179,021","$54,708,609",NaN,NaN,NaN,NaN,NaN,2,NaN
4,5,Bradley Beal,PHO,"$50,203,930","$53,666,270","$57,128,610",NaN,NaN,NaN,NaN,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
539,492,Javon Freeman-Liberty,TOR,"$100,000",NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
540,493,Erik Stevenson,WAS,"$66,503",NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
541,494,Branden Carlson,OKC,"$496,519",NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
542,495,Branden Carlson,OKC,"$496,519",NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
543,496,Javante McCoy,DET,"$47,265",NaN,NaN,NaN,NaN,NaN,NaN,1,NaN